In [ ]:
# Use seaborn for pairplot
!pip install seaborn

In [1]:
from __future__ import absolute_import, division, print_function, unicode_literals

import pathlib
import numpy as np

import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

print(tf.__version__)

1.14.0

In [2]:
column_names = ['CUSTOMER', 'ZTERM', 'CASH_DISCOUNT_DAY1', 'CASH_DISCOUNT_DAY2', 'CASH_DISCOUNT_PER', 
                'DUE_DAYS_PLUS', 'T052_CASH_DISCOUNT_PER_01', 'AMOUNT_PERCENTAGE_CREDIT_LIMIT', 
               'T052_CASH_DISCOUNT_DAY1', 'T052_CASH_DISCOUNT_DAY2', 'DAYS_OVER_NET_DUE_DATE', 
                'DAYS_BEYOND_DISCOUNT_2', 'CUSTOMER_CREDIT_LIMIT', 'DISCOUNT_AMOUNT_ELIGIBLE',
               'AMOUNT_BSAD']

In [3]:
newdf = pd.read_csv('lra_predict.csv',
        header=0,
        na_values = '0',
        usecols=column_names,
        comment='\t',
        skipinitialspace=True)
newdf = newdf.replace(0, np.nan)
newdataset = newdf.copy()
newdataset.tail()

,CUSTOMER,ZTERM,CASH_DISCOUNT_DAY1,CASH_DISCOUNT_DAY2,CASH_DISCOUNT_PER,DUE_DAYS_PLUS,T052_CASH_DISCOUNT_PER_01,AMOUNT_PERCENTAGE_CREDIT_LIMIT,T052_CASH_DISCOUNT_DAY1,T052_CASH_DISCOUNT_DAY2,DAYS_OVER_NET_DUE_DATE,DAYS_BEYOND_DISCOUNT_2,CUSTOMER_CREDIT_LIMIT,DISCOUNT_AMOUNT_ELIGIBLE,AMOUNT_BSAD
0,3000123149,Z225,21,30,3,30,3,49.05,21,30,-9,-9,140000,68672.52,68672.52

In [4]:
newdataset.isna().sum()

CUSTOMER                          0
ZTERM                             0
CASH_DISCOUNT_DAY1                0
CASH_DISCOUNT_DAY2                0
CASH_DISCOUNT_PER                 0
DUE_DAYS_PLUS                     0
T052_CASH_DISCOUNT_PER_01         0
AMOUNT_PERCENTAGE_CREDIT_LIMIT    0
T052_CASH_DISCOUNT_DAY1           0
T052_CASH_DISCOUNT_DAY2           0
DAYS_OVER_NET_DUE_DATE            0
DAYS_BEYOND_DISCOUNT_2            0
CUSTOMER_CREDIT_LIMIT             0
DISCOUNT_AMOUNT_ELIGIBLE          0
AMOUNT_BSAD                       0
dtype: int64

In [5]:
newdataset = newdataset.dropna()

In [6]:
newdataset

,CUSTOMER,ZTERM,CASH_DISCOUNT_DAY1,CASH_DISCOUNT_DAY2,CASH_DISCOUNT_PER,DUE_DAYS_PLUS,T052_CASH_DISCOUNT_PER_01,AMOUNT_PERCENTAGE_CREDIT_LIMIT,T052_CASH_DISCOUNT_DAY1,T052_CASH_DISCOUNT_DAY2,DAYS_OVER_NET_DUE_DATE,DAYS_BEYOND_DISCOUNT_2,CUSTOMER_CREDIT_LIMIT,DISCOUNT_AMOUNT_ELIGIBLE,AMOUNT_BSAD
0,3000123149,Z225,21,30,3,30,3,49.05,21,30,-9,-9,140000,68672.52,68672.52

In [7]:
ZTERMnew = newdataset.pop('ZTERM')

In [8]:
#newdataset['PT00'] = (ZTERMnew == 'PT00')*1.0
newdataset['Z201'] = (ZTERMnew == 'Z201')*1.0
newdataset['Z203'] = (ZTERMnew == 'Z203')*1.0
newdataset['Z225'] = (ZTERMnew == 'Z225')*1.0
newdataset['Z226'] = (ZTERMnew == 'Z226')*1.0
newdataset['Z231'] = (ZTERMnew == 'Z231')*1.0
newdataset['Z232'] = (ZTERMnew == 'Z232')*1.0
newdataset['Z233'] = (ZTERMnew == 'Z233')*1.0
newdataset['Z234'] = (ZTERMnew == 'Z234')*1.0
newdataset['Z281'] = (ZTERMnew == 'Z281')*1.0
newdataset['Z286'] = (ZTERMnew == 'Z286')*1.0
newdataset['ZD28'] = (ZTERMnew == 'ZD28')*1.0
newdataset['ZD43'] = (ZTERMnew == 'ZD43')*1.0
newdataset['ZD45'] = (ZTERMnew == 'ZD45')*1.0
newdataset['ZD48'] = (ZTERMnew == 'ZD48')*1.0
newdataset['ZD50'] = (ZTERMnew == 'ZD50')*1.0
newdataset['ZD91'] = (ZTERMnew == 'ZD91')*1.0
newdataset['ZDA4'] = (ZTERMnew == 'ZDA4')*1.0
newdataset['ZDA5'] = (ZTERMnew == 'ZDA5')*1.0
newdataset.tail()

,CUSTOMER,CASH_DISCOUNT_DAY1,CASH_DISCOUNT_DAY2,CASH_DISCOUNT_PER,DUE_DAYS_PLUS,T052_CASH_DISCOUNT_PER_01,AMOUNT_PERCENTAGE_CREDIT_LIMIT,T052_CASH_DISCOUNT_DAY1,T052_CASH_DISCOUNT_DAY2,DAYS_OVER_NET_DUE_DATE,...,Z281,Z286,ZD28,ZD43,ZD45,ZD48,ZD50,ZD91,ZDA4,ZDA5
0,3000123149,21,30,3,30,3,49.05,21,30,-9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
newdataset.head(5)

,CUSTOMER,CASH_DISCOUNT_DAY1,CASH_DISCOUNT_DAY2,CASH_DISCOUNT_PER,DUE_DAYS_PLUS,T052_CASH_DISCOUNT_PER_01,AMOUNT_PERCENTAGE_CREDIT_LIMIT,T052_CASH_DISCOUNT_DAY1,T052_CASH_DISCOUNT_DAY2,DAYS_OVER_NET_DUE_DATE,...,Z281,Z286,ZD28,ZD43,ZD45,ZD48,ZD50,ZD91,ZDA4,ZDA5
0,3000123149,21,30,3,30,3,49.05,21,30,-9,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
# load tokenizer
import pickle
with open('LRA_tokenizer.pickle', 'rb') as handle:
    train_stats = pickle.load(handle)

In [11]:
def normnew(x):
  return (x - train_stats['mean']) / train_stats['std'] 
new_normed_test_data = normnew(newdataset)

In [12]:
new_normed_test_data[:10]

,CUSTOMER,CASH_DISCOUNT_DAY1,CASH_DISCOUNT_DAY2,CASH_DISCOUNT_PER,DUE_DAYS_PLUS,T052_CASH_DISCOUNT_PER_01,AMOUNT_PERCENTAGE_CREDIT_LIMIT,T052_CASH_DISCOUNT_DAY1,T052_CASH_DISCOUNT_DAY2,DAYS_OVER_NET_DUE_DATE,...,Z281,Z286,ZD28,ZD43,ZD45,ZD48,ZD50,ZD91,ZDA4,ZDA5
0,-0.121993,-0.226356,-0.558578,7.746804,-0.558578,7.746804,7.742132,-0.226356,-0.558578,1.547399,...,-0.079114,-0.256836,-0.973629,-0.025266,-0.302614,-0.131136,-0.033432,-0.24826,-0.135474,-0.04379

In [13]:
Xnew_data = np.array(new_normed_test_data)
Xnew_data

array([[-1.21992971e-01, -2.26355825e-01, -5.58578435e-01,
         7.74680444e+00, -5.58578435e-01,  7.74680444e+00,
         7.74213205e+00, -2.26355825e-01, -5.58578435e-01,
         1.54739878e+00,  1.54739878e+00, -4.70496333e-01,
         5.19548777e+00,  5.19548777e+00, -1.12236020e-01,
        -2.34191589e-01,  2.99070014e+01, -1.01551058e-01,
        -2.37582250e-01, -1.80107829e-01, -3.14702233e-01,
        -1.18620701e-01, -7.91140540e-02, -2.56835843e-01,
        -9.73628870e-01, -2.52659026e-02, -3.02613865e-01,
        -1.31136083e-01, -3.34316528e-02, -2.48259628e-01,
        -1.35473788e-01, -4.37897942e-02]])

In [14]:
from tensorflow.keras.models import model_from_json

# Model reconstruction from JSON file
with open('LRA_model_architecture.json', 'r') as f:
    model = model_from_json(f.read())

# Load weights into the new model
model.load_weights('LRA.h5')

WARNING: Logging before flag parsing goes to stderr.
W0916 08:35:31.283066  8848 deprecation.py:506] From C:\Users\gunawf01\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\ops\init_ops.py:97: calling GlorotUniform.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0916 08:35:31.288069  8848 deprecation.py:506] From C:\Users\gunawf01\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\ops\init_ops.py:1251: calling VarianceScaling.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
W0916 08:35:31.297076  8848 deprecation.py:506] From C:\Users\gunawf01\AppData\Local\Continuum\anaconda3\envs\tfdeeplearning\lib\site-packages\tensorflow\python\ops\init_ops.py:97: calling Zeros.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor

In [15]:
new_test_predictions = model.predict(Xnew_data).flatten()
new_test_predictions[0]

21.591074